<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".coverage.JacocoInitProvider"
            android:authorities="${applicationId}.jacoco-init"
            android:exported="false" />
        <receiver
            android:name=".coverage.CoverageBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.idrinth.habitevaluator.android.DUMP_COVERAGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
